.modal {
    position: fixed;
    top: 200px;
    right: 10px;
    width: calc(100% - 20px);
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    height: 0;
    transition: .4s ease-out;
}

.modal.-active {
    height: 300px;
}

.modal-links {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: 2s;
}

.modal-map {
    height: 200px;
    overflow: hidden;
    transition: 2s;
}

.modal-map iframe {
    transform: translateY(100%);
    transition: .5s ease-out;
}



.modal-links a {
    width: 50px;
    margin: 0 auto;
    transform: translateY(-150%);
}

.modal-links a:first-child {
    transition: .2s ease-out;
}

.modal-links a:nth-child(2) {
    transition: .4s ease-out;
}

.modal-links a:nth-child(3) {
    transition: .6s ease-out;
}

.modal-links img {
    width: 50px;
}

.modal-toggle {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.modal-toggle:before,
.modal-toggle:after {
    position: absolute;
    display: block;
    content: "";
    width: 21px;
    height: 1px;
    background-color: #565656;
}

.modal-toggle:before {
    transform: rotate(-45deg) translateY(50%);
}

.modal-toggle:after {
    transform: rotate(45deg) translateY(50%);
}
.modal-links a.-zero,
.modal-map iframe.-zero {
    transform: translate(0);
}

@media screen and (min-width: 1024px) {
    .modal {
        width: 400px;

    }
}